.header-tabs-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #17456c;
  color: white;
}

.header-tabs-link-container {
  display: flex;
  flex-flow: column;
  margin: 15px;
  align-items: center;
}

.header-tabs-link-container a {
  color: white;
  font-family: Barlow, sans-serif;
}

.header-welcome-container {
  width: 100%;
  background-color: #196a95;
  display: flex;
  font-family: 'Dosis Medium', sans-serif;
  font-size: 1rem;
  color: white;
}

.header-welcome-link {
  display: flex;
  width: 50%;
  align-items: center;
}

.header-welcome-link.log-out {
  margin-right: 50px;
  justify-content: end;
}

.header-welcome-container img {
  max-width: 100px;
  margin: 10px;
  margin-left: 20px;
}
